UPDATE budgets SET status = 'DRAFT' WHERE status = 'Em Análise'; UPDATE budgets SET status = 'SENT' WHERE status = 'Enviado'; UPDATE budgets SET status = 'APPROVED' WHERE status = 'Aprovado'; UPDATE budgets SET status = 'NEGOTIATING' WHERE status = 'Em Negociação';
